# Missing Data

Let's show a few convenient methods to deal with Missing Data in pandas:

In [10]:
import numpy as np
import pandas as pd

In [11]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [12]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [13]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [14]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [16]:
# threshold is 2 i.e. we need atleast 2 non-Nan to be not dropped
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [17]:
df.fillna(value='FILL VALUE')

            A           B  C
0           1           5  1
1           2  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3

In [18]:
df.mean()

A    1.5
B    5.0
C    2.0
dtype: float64

In [19]:
df.fillna(df.mean())

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  1.5  5.0  3