# Pandas Exercises
Time to test your new pandas skills! Use the <tt>population_by_county.csv</tt> file in the Data folder to complete the tasks in bold below!

<div class="alert alert-info" style="margin: 10px"><strong>NOTE:</strong> ALL TASKS CAN BE DONE IN ONE LINE OF PANDAS CODE. GET STUCK? NO PROBLEM! CHECK OUT THE SOLUTIONS LECTURE!</div>

<div class="alert alert-danger" style="margin: 10px"><strong>IMPORTANT NOTE!</strong> Make sure you don't run the cells directly above the example output shown, <br>otherwise you will end up writing over the example output!</div>

#### 1. Import pandas and read in the <tt>population_by_county.csv</tt> file into a dataframe called <tt>pop</tt>.

In [77]:
import pandas as pd
pop = pd.read_csv('../Data/population_by_county.csv')

#### 2. Show the head of the dataframe

In [78]:
pop.head()

             County           State  2010Census  2017PopEstimate
0  Abbeville County  South Carolina       25417            24722
1     Acadia Parish       Louisiana       61773            62590
2   Accomack County        Virginia       33164            32545
3        Ada County           Idaho      392365           456849
4      Adair County            Iowa        7682             7054

#### 3. What are the column names?

In [79]:
pop.columns

Index(['County', 'State', '2010Census', '2017PopEstimate'], dtype='object')

<strong>4. How many States are represented in this data set?</strong> <em>Note: the data includes the District of Columbia</em>

In [80]:
pop['State'].nunique()

51

#### 5. Get a list or array of all the states in the data set.

In [81]:
#print(pop['State'].to_list())
pop['State'].unique()

array(['South Carolina', 'Louisiana', 'Virginia', 'Idaho', 'Iowa',
       'Kentucky', 'Missouri', 'Oklahoma', 'Colorado', 'Illinois',
       'Indiana', 'Mississippi', 'Nebraska', 'North Dakota', 'Ohio',
       'Pennsylvania', 'Washington', 'Wisconsin', 'Vermont', 'Minnesota',
       'Florida', 'North Carolina', 'California', 'New York', 'Wyoming',
       'Michigan', 'Alaska', 'Maryland', 'Kansas', 'Tennessee', 'Texas',
       'Maine', 'Arizona', 'Georgia', 'Arkansas', 'New Jersey',
       'South Dakota', 'Alabama', 'Oregon', 'West Virginia',
       'Massachusetts', 'Utah', 'Montana', 'New Hampshire', 'New Mexico',
       'Rhode Island', 'Nevada', 'District of Columbia', 'Connecticut',
       'Hawaii', 'Delaware'], dtype=object)

#### 6. What are the five most common County names in the U.S.?

In [82]:
pop['County'].value_counts().head()

Washington County    30
Jefferson County     25
Franklin County      24
Lincoln County       23
Jackson County       23
Name: County, dtype: int64

#### 7. What are the top 5 most populated Counties according to the 2010 Census?

In [83]:
pop.head()

             County           State  2010Census  2017PopEstimate
0  Abbeville County  South Carolina       25417            24722
1     Acadia Parish       Louisiana       61773            62590
2   Accomack County        Virginia       33164            32545
3        Ada County           Idaho      392365           456849
4      Adair County            Iowa        7682             7054

In [84]:
pop.sort_values(by='2010Census', ascending=False).head()

                  County       State  2010Census  2017PopEstimate
1713  Los Angeles County  California     9818605         10163507
628          Cook County    Illinois     5194675          5211263
1209       Harris County       Texas     4092459          4652980
1784     Maricopa County     Arizona     3817117          4307033
2501    San Diego County  California     3095313          3337685

#### 8. What are the top 5 most populated States according to the 2010 Census?

In [85]:
pop.sort_values(by='2010Census', ascending=False).head()

                  County       State  2010Census  2017PopEstimate
1713  Los Angeles County  California     9818605         10163507
628          Cook County    Illinois     5194675          5211263
1209       Harris County       Texas     4092459          4652980
1784     Maricopa County     Arizona     3817117          4307033
2501    San Diego County  California     3095313          3337685

In [86]:
pop.groupby('State').agg({'2010Census':'sum'}).sort_values(
                                by='2010Census', ascending=False).head()

            2010Census
State
California    37253956
Texas         25145561
New York      19378102
Florida       18801310
Illinois      12830632

#### 9. How many Counties have 2010 populations greater than 1 million?

In [87]:
pop['County'].nunique()

1877

In [88]:
#county_pop = pop.groupby('County').agg({'2010Census':'sum'})
filt = pop['2010Census']>1000000
pop[filt].shape[0]

39

In [89]:
# OR
filt.sum()

39

#### 10. How many Counties don't have the word "County" in their name?

In [90]:
county_name = pop['County'].unique()
county_z = [county for county in county_name if "County" not in county]
len(county_z)

135

In [91]:
# If we need to figure out how many of them contains "County"
a = pop['County'].unique()

pd.Series(a).str.contains("County").sum()

1742

#### 11. Add a column that calculates the percent change between the 2010 Census and the 2017 Population Estimate

In [92]:
pop['%_change'] = (pop['2017PopEstimate'] - pop['2010Census'])*100/pop['2010Census']
pop.head()

             County           State  2010Census  2017PopEstimate   %_change
0  Abbeville County  South Carolina       25417            24722  -2.734390
1     Acadia Parish       Louisiana       61773            62590   1.322584
2   Accomack County        Virginia       33164            32545  -1.866482
3        Ada County           Idaho      392365           456849  16.434697
4      Adair County            Iowa        7682             7054  -8.174954

<strong>Bonus: What States have the highest estimated percent change between the 2010 Census and the 2017 Population Estimate?</strong><br>This will take several lines of code, as it requires a recalculation of PercentChange.

In [93]:
state_perc_change = pop.groupby('State').agg({'2017PopEstimate':'sum', 
                                              '2010Census':'sum'})
state_perc_change.head(2)

         2017PopEstimate  2010Census
State
Alabama          4874747     4779736
Alaska            739795      710231

In [94]:
state_perc_change['%_change'] = (state_perc_change['2017PopEstimate'] - 
                                 state_perc_change['2010Census'])*100/state_perc_change['2010Census']

state_perc_change.sort_values(by='%_change',ascending=False).head()

                      2017PopEstimate  2010Census   %_change
State
District of Columbia           693972      601723  15.330808
Texas                        28304596    25145561  12.562993
North Dakota                   755393      672591  12.310899
Utah                          3101833     2763885  12.227282
Florida                      20984400    18801310  11.611372